{% extends 'base.html' %}
{% block content %}
    {% if note_list %}
        <ul>
            {% for note in  note_list %}
                <li class="notecard rounded-3">
                        <a href="{% url 'note-detail' note.pk %}" class="dropdown-item rounded-3 d-flex justify-content-between">
                            <div class="align-self-center p-2 ">
                                <strong class="notetitle d-block">{{ note.title }}</strong>
                                <small>{{ note.created }}</small>
                            </div>
                            <div class="align-self-center p-2">
                                <button type="button" class="delete btn btn-outline-dark btn-sm" note_id="{{ note.id }}">&times;</button>
                            </div>
                        </a>
                </li>
          {% endfor %}
        </ul>
    {% else %}
        <p><a href="{% url 'index' %}">Make your first note</a></p>
    {% endif %}
{% endblock %}